<div class="border rounded p-4 shadow-sm"
  style="background-color: rgba(255, 255, 255, 0.6); border-color: #dfe6ed; color: #333; height: 87%;">
  <h1 class="mb-3" style="font-size: 1.5rem; font-weight: 600; color: #2c3e50;">Moniteur</h1>
  <div id="terminal" class="p-3 rounded overflow-auto"
    style="font-size: 1rem; color: #2c3e50;">

    <p>Temps gagné : <strong style="color: #1abc9c;">{{timer.time_saved}}</strong></p>
    <p>Dernière execution de l'automatisation : <strong style="color: #1abc9c;">{{timer.last_run_date}}</strong></p>
    <p>Nombre d'execution avec travail : <strong style="color: #1abc9c;">{{timer.count}}</strong></p>
    <!-- Les logs s'afficheront ici -->
  </div>
</div>