{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <!-- Grand titre centré -->
        <h1 class="text-black display-2 mb-4">Connectez-vous</h1>

        <!-- Formulaire centré -->
        <form method="POST" class="w-100">
            <div class="input-group flex-nowrap mb-3">
                <input type="password" class="form-control" placeholder="Entrez votre mot de passe" aria-label="Password"
                    name="password" aria-describedby="addon-wrapping">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-lg">Connexion</button>
        </form>
<!-- Message d'erreur -->
{% if error %}
        <p class="text-danger mt-3">{{ error }}</p>
        {% endif %}
    </div>
    </div>
{% endblock %}