{% extends 'base.html' %}

{% block head %}
<title>Présence</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Automatisation afpro</h1>
    <form action="/a1" method="POST">
        <input type="text" name="content" id="content"><br>
        <input type="submit" value="Envoyer">
    </form>

    <form action="/a1/get_folder" method="GET">
        <input type="submit" value="get_folder">
    </form>

    <h3>Les fichiers PDF présents dans le dossier de téléchargement :</h3>
    <div id="pdf-list">
        <!-- La liste des PDF sera insérée ici dynamiquement -->
    </div>

    <script>
        // Fonction pour récupérer la liste des PDF et la mettre à jour
        function fetchPDFs() {
            fetch('/a1/get_pdfs')
                .then(response => response.json())
                .then(data => {
                    const pdfListDiv = document.getElementById('pdf-list');
                    pdfListDiv.innerHTML = ""; // Vider la liste actuelle

                    // Ajouter chaque fichier PDF à la liste
                    data.forEach(pdf => {
                        const p = document.createElement('p');
                        p.textContent = pdf;
                        pdfListDiv.appendChild(p);
                    });
                });
        }

        // Mettre à jour la liste toutes les 5 secondes
        setInterval(fetchPDFs, 2000);

        // Appel initial pour charger la liste des PDF au démarrage
        fetchPDFs();
    </script>
</div>
{% endblock %}